# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Composer dependencies
/vendor/
composer.lock

# Laravel specific
/storage/*.key
.env
.phpunit.result.cache

# Laravel log & cache
/storage/logs/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/

# PHPUnit
.phpunit.result.cache

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
Thumbs.db
.DS_Store

# Backup files
*.bak
*.tmp
*.swp
*.swo
*.~*

# PHPStorm
/.phpstorm.meta.php/

# Misc
.env.testing
.env.backup

